$color__border: #ddd;

.advanced-wp-table-wrapper {
	table {
		table-layout: fixed;
		width: 100%;

		td {
			vertical-align: top;
			text-align: left;
		}
	}
}

@media (min-width: 768px) {
	.advanced-wp-table {
		display: table;
		width: 100%;

		.advanced-wp-table-body {
			display: table-row-group;

			.advanced-wp-table-row {
				display: table-row;

				.advanced-wp-table-cell {
					display: table-cell;
					vertical-align: top;
				}
			}
		}
	}

	.advanced-wp-table {
		.advanced-wp-table-body {
			.advanced-wp-table-row {
				&:not(:nth-of-type(1)) {
					box-shadow: inset 0 1px 0 $color__border;
				}
			}
		}

		.advanced-wp-table-body {
			box-shadow: 0 0 0 1px $color__border;
		}

		.advanced-wp-table-cell {
			box-shadow: 1px 0 0 $color__border;
		}
	}
}

@media (max-width: 767px) {
	.advanced-wp-table-row {
		margin: 0 0 1em;
	}

	.advanced-wp-table {
		.advanced-wp-table-row {
			box-shadow: 0 0 0 1px $color__border;
		}

		.advanced-wp-table-cell {
			box-shadow: 0 1px 0 $color__border;
		}
	}
}

.advanced-wp-table-cell {
	padding: 5px;
}
