.wp-table-advanced-wrapper {
	margin: 1em 0 0;
}

.wp-table-advanced-header {
	align-items: center;
	display: flex;
	justify-content: space-between;

	h1 {
		font-size: 24px;
		line-height: 30px;
		margin: 0;
		padding: 0;
	}

	.dashicons {
		line-height: 30px;
	}
}

.wp-table-advanced-inner-header {
	align-items: center;
	display: flex;

	$height: 25px;

	.button {
		align-items: center;
		display: flex;
		height: $height;
		line-height: 1;
		margin: 0 0 0 10px;
		min-height: $height;

		.dashicons {
			font-size: 14px;
			height: unset;
			line-height: $height;
			margin-right: 5px;
			width: unset;
		}
	}
}

.wp-table-advanced-post-buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.wp-table-advanced-new-table-form {
	margin: 2.5em 0;

	label {
		font-size: 14px;
		font-weight: bold;
	}

	.wp-table-advanced-form-item {
		align-items: center;
		display: flex;
		margin: 0 0 1em;

		label {
			width: 10%;
		}

		input {
			&[type=number] {
				width: 60px;
			}
		}
	}
}

.wp-table-advanced-new-table-form-buttons {
	margin: 0 0 1.5em;
}

.wp-table-advanced {
	border-collapse: collapse;
	margin: 2.5em 0;
	width: 100%;

	td {
		border: 1px solid;
		padding: 5px;
		position: relative;
		vertical-align: initial;
	}

	th {
		border: 1px solid;
		padding: 5px;
		text-align: initial;
	}
}

.wp-table-advanced-posts-list {
	.wp-table-advanced-posts-list-shortcodes {
		width: 25%;
	}

	.wp-table-advanced-posts-list-actions {
		width: 25%;
	}
}

.wp-table-advanced-post-item {
	.wp-table-advanced-cell-wrapper {
		align-items: self-start;
		display: flex;
		justify-content: space-between;
	}

	.wp-table-advanced-edit-cell {
		border-radius: 3px 3px 0 0;
		cursor: pointer;
		font-size: 16px;
		line-height: 20px;
		opacity: 0;
		position: relative;
		transition: background-color 0.1s ease-in;
		visibility: hidden;
		z-index: 2;
	}

	td {
		&:hover {
			.wp-table-advanced-edit-cell {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.wp-table-advanced-cell-actions {
		position: relative;

		.wp-table-advanced-actions-dropdown {
			background-color: #6d6d6d;
			border-radius: 0 0 3px 3px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
			color: #fff;
			cursor: initial;
			opacity: 0;
			padding: 10px;
			position: absolute;
			right: 0;
			top: 100%;
			transition: opacity 0.1s ease-in;
			visibility: hidden;
			width: 100px;
			z-index: 1;

			.wp-table-advanced-action-item {
				cursor: pointer;
			}
		}

		&:hover {
			.wp-table-advanced-edit-cell {
				background-color: #6d6d6d;
				color: #fff;
			}

			.wp-table-advanced-actions-dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.wp-table-advanced-modal {
	background-color: #fff;
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;

	.wp-table-advanced-cell-editor-button-groups {
		border-bottom: 1px solid #ddd;
		padding: 25px;
		text-align: right;
	}

	.block-editor {
		position: relative;

		.block-editor-block-card {
			padding: 16px;
		}

		.components-select-control__input {
			border-color: #7e8993;
			border-radius: 3px;
			box-shadow: none;
			color: #32373c;
			font-size: 14px;
			line-height: 2;
			padding: 0 24px 0 8px;
		}
	}
}

.wp-table-advanced-not-found {
	margin: 2.5em  0;
}

.wp-table-advanced-wrapper {
	.button {
		&.wp-table-advanced-button-with-spinner {
			align-items: center;
			display: inline-flex;

			&:not(.wp-table-advanced-is-loading) {
				.wp-table-advanced-spinner {
					display: none;
				}
			}
		}
	}
}

.wp-table-advanced-spinner {
	height: 14px;
	margin: 0 5px 0 0;
	position: relative;
	width: 14px;
}

.wp-table-advanced-spinner:after {
	animation: wp-table-advanced-dual-ring 1.2s linear infinite;
	border-color: #fff transparent #fff transparent;
	border-radius: 50%;
	border-style: solid;
	border-width: 2px;
	content: '';
	height: 10px;
	left: 0;
	position: absolute;
	top: 0;
	width: 10px;
}

@keyframes wp-table-advanced-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
