.advanced-wp-table-admin #wpcontent {
	background-color: #f1f1f1;
}

.advanced-wp-table-wrapper {
	button {
		&:focus {
			box-shadow: none !important;
			outline-style: none !important;
		}
	}

	a {
		&:focus {
			box-shadow: none;
			outline-style: none;
		}
	}
}

.advanced-wp-table-header {
	.advanced-wp-table-header-inner {
		align-items: center;
		display: flex;
		margin: 0 0 1em;

		h1 {
			margin: 0;
			padding: 0;
		}

		.button {
			$height: 25px;

			align-items: center;
			border-radius: 2px;
			display: inline-flex;
			font-weight: 600;
			height: $height;
			line-height: 1;
			margin: 0 0 0 10px;
			min-height: $height;

			.dashicons {
				margin-right: 5px;
			}
		}
	}
}

$fixed_header_height: 50px;

.advanced-wp-table-fixed-header-wrapper {
	height: $fixed_header_height;
	margin: -23px -20px 23px -22px;
	position: relative;
	z-index: 3;

	.advanced-wp-table-header-title {
		.advanced-wp-table-edit-title-toggle {
			$size: 30px;

			cursor: pointer;
			margin-right: -#{$size + 10px};
			opacity: 0;
			padding: 0 10px;
			transition: opacity .4s ease-out;
			visibility: hidden;

			> div {
				align-items: center;
				display: inline-flex;
				height: $size;
			}

			&:hover {
				opacity: 1;
				visibility: visible;
			}
		}

		.advanced-wp-table-title:hover {
			~ .advanced-wp-table-edit-title-toggle {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.advanced-wp-table-fixed-header {
	align-items: center;
	background-color: #fff;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
	display: flex;
	height: $fixed_header_height;
	margin: 0;
	padding: 15px 20px 15px 22px;
	position: fixed;
	right: 0;
	top: 32px;
	transition: transform 0.3s ease-in-out 0s;

	@media (min-width: 960px) {
		left: 160px;
	}

	@media (max-width: 960px) {
		left: 36px;
	}

	&.sticky {
		transform: none;
	}

	&.no-sticky {
		transform: translateY(-100%);
	}

	> div {
		flex: 1;
	}

	.advanced-wp-table-header-navigate-to-list {
		.button {
			align-items: center;
			display: inline-flex;

			.dashicons {
				margin: 0 5px 0 0;
			}
		}
	}

	.advanced-wp-table-header-title {
		min-width: 0;

		.advanced-wp-table-edit-title-wrapper {
			align-items: center;
			display: flex;
			justify-content: center;
		}

		h1 {
			margin: 0;
			overflow: hidden;
			padding: 0;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		[type="text"] {
			text-align: center;
			width: 100%;
		}
	}

	.advanced-wp-table-header-actions {
		align-items: center;
		display: flex;
		justify-content: flex-end;

		> * {
			margin: 0 0 0 8px;
		}
	}

	.advanced-wp-table-shortcode {
		align-items: center;
		cursor: pointer;
		display: inline-flex;
		height: 30px;
	}
}

.folded {
	.advanced-wp-table-fixed-header {
		left: 36px;
	}
}

.advanced-wp-table-pagination-wrapper {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	min-height: 26px;
}

.advanced-wp-table-total-info {
	font-weight: 500;
}

.advanced-wp-table-pagination {
	margin: 0;
	padding: 0;

	li {
		background: #f3f5f6;
		border-color: #0071a1;
		border-radius: 3px;
		border-style: solid;
		border-width: 1px;
		display: inline-block;
		font-size: 14px;
		line-height: 24px;
		min-height: 24px;
		min-width: 24px;

		text-align: center;

		vertical-align: baseline;

		&:not(:last-child) {
			margin: 0 4px 0 0;
		}

		&:last-child {
			margin: 0;
		}

		a {
			box-shadow: none;
			color: #0071a1;
			cursor: pointer;
			display: block;
			outline-style: none;
		}

		&.disabled {
			background: #f7f7f7;
			border-color: #ddd;
			box-shadow: none;
			text-shadow: 0 1px 0 #fff;
			transform: none;

			a {
				color: #a0a5aa;
				cursor: default;
			}
		}

		&.active {
			background: #0071a1;
			border-color: #0071a1;

			a {
				color: #fff;
			}
		}
	}
}

.advanced-wp-table-list,
.advanced-wp-table-list-loading {
	margin: 1em 0;
}

.advanced-wp-table-list {
	.advanced-wp-table-shortcode,
	.advanced-wp-table-shortcode:hover,
	.advanced-wp-table-shortcode:focus {
		background: transparent;
		border: none;
		box-shadow: none;
		margin: 0;
		outline: none;
		padding: 0;
	}
}

@keyframes advanced-wp-table-placeholder {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.advanced-wp-table-liner-loading {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: advanced-wp-table-placeholder;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 1000px 104px;
	height: 16px;
	overflow: hidden;
	position: relative;

	&.title-loading {
		width: 100%;
	}

	&.actions-loading {
		margin: 8px 0 0;
		max-width: 150px;
		width: 100%;
	}

	&.shortcode-loading {
		max-width: 250px;
		width: 100%;
	}
}

.advanced-wp-table-list-loading {
	tbody {
		tr {
			&:nth-child(3n+1) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 250px;
					}
				}
			}

			&:nth-child(3n+2) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 280px;
					}
				}
			}

			&:nth-child(3n+3) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 220px;
					}
				}
			}
		}
	}
}

.advanced-wp-table-new-table-form {
	background-color: #fff;
	margin: 2.5em 0;
	max-width: 500px;
	padding: 2.5em;
	position: relative;
	width: 100%;

	label {
		font-size: 14px;
		font-weight: bold;
	}

	.advanced-wp-table-form-item {
		align-items: center;
		display: flex;
		margin: 0 0 1em;

		label {
			flex: 1;
		}

		.advanced-wp-table-form-input-wrapper {
			flex: 1.2;
		}

		input {
			&[type=number] {
				width: 60px;
			}
		}
	}

	.advanced-wp-table-form-buttons {
		margin: 1.5em 0 0;
	}
}

.advanced-wp-table-new-table-form {
	&.loading {
		&:before {
			background: rgba(255, 255, 255, .9);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 100;
		}

		&:after {
			-webkit-animation: advanced-wp-table-spin .6s linear;
			animation: advanced-wp-table-spin .6s linear;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			border-color: #767676 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
			border-radius: 500rem;
			border-style: solid;
			border-width: .2em;
			-webkit-box-shadow: 0 0 0 1px transparent;
			box-shadow: 0 0 0 1px transparent;
			content: '';
			height: 3em;
			left: 50%;
			margin: -1.5em 0 0 -1.5em;
			position: absolute;
			top: 50%;
			visibility: visible;
			width: 3em;
			z-index: 101;
		}
	}
}

@keyframes advanced-wp-table-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.advanced-wp-table-toast {
	top: 3.5em;

	.Toastify__toast {
		font-family: inherit;
		font-size: 14px;
		min-height: 44px;
	}
}

.advanced-wp-table-post-item {
	background-color: #fff;
	border-collapse: collapse;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin: 1em 0;
	width: 100%;

	td {
		border: 1px solid;
		padding: 5px;
		position: relative;
		vertical-align: top;
	}

	th {
		border: 1px solid;
		padding: 5px;
		text-align: initial;
	}

	td,
	th {
		border-color: #ccd0d4;
	}

	.advanced-wp-table-cell-wrapper {
		align-items: self-start;
		display: flex;
		justify-content: space-between;
		position: relative;
		min-height: 2em;

		.advanced-wp-table-cell-preview {
			position: relative;
		}
	}

	.advanced-wp-table-edit-cell {
		border-radius: 3px 3px 0 0;
		cursor: pointer;
		font-size: 16px;
		line-height: 20px;
		opacity: 0;
		position: relative;
		transition: opacity .4s ease-out;
		visibility: hidden;
		z-index: 2;
	}

	td {
		&:hover {
			.advanced-wp-table-edit-cell {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.advanced-wp-table-cell-actions {
		position: absolute;
		right: 0;
		top: 0;

		@mixin show_dropdown {
			opacity: 1;
			visibility: visible;
		}

		.advanced-wp-table-actions-dropdown {
			cursor: initial;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: opacity 0.1s ease-in;
			visibility: hidden;
			width: 115px;
			z-index: 1;
			padding: 100% 0 0;

			.advanced-wp-table-actions-dropdown-inner {
				background-color: #6d6d6d;
				border-radius: 0 0 3px 3px;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
				color: #fff;
				padding: 10px;
			}

			&:hover {
				@include show_dropdown;
			}

			.advanced-wp-table-action-item {
				cursor: pointer;
			}
		}

		&:hover {
			.advanced-wp-table-edit-cell {
				background-color: #6d6d6d;
				color: #fff;
			}

			.advanced-wp-table-actions-dropdown {
				@include show_dropdown;
			}
		}
	}
}

.advanced-wp-table-post-item-buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
}

[data-reach-dialog-overlay] {
	background: rgba(0, 0, 0, 0.5) !important;
	z-index: 999999;
}

.Toastify__toast-container {
	z-index: 999999;
}

[data-reach-dialog-content] {
	max-width: 500px;
}

.advanced-wp-table-alert-title {
	font-size: 1.8em;
	margin: 0 0 10px;
}

.advanced-wp-table-alert-desc {
	font-size: 1.2em;
	margin: 0 0 20px;
}

.advanced-wp-table-alert-buttons {
	$leave-button-color: #fa784f;

	.button-leave,
	.button-leave:hover {
		background-color: $leave-button-color;
		border-color: $leave-button-color;
	}

	.button-leave:focus {
		background: $leave-button-color;
		border-color: $leave-button-color;
		box-shadow: 0 0 0 1px #fff, 0 0 0 3px $leave-button-color;
		color: #fff;
		outline: 2px solid transparent;
		outline-offset: 0;
	}
}
