.wp-table {
	table {
		border-collapse: collapse;
		margin: 2.5em 0;
		width: 100%;

		.wp-table-cell-wrapper {
			align-items: self-start;
			display: flex;
			justify-content: space-between;
		}

		.wp-table-edit-cell {
			border-radius: 3px 3px 0 0;
			cursor: pointer;
			font-size: 16px;
			line-height: 20px;
			opacity: 0;
			position: relative;
			transition: background-color 0.1s ease-in;
			visibility: hidden;
			z-index: 2;
		}

		td {
			border: 1px solid;
			cursor: grab;
			padding: 5px;
			position: relative;
			vertical-align: initial;

			&:hover {
				.wp-table-edit-cell {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	.wp-table-cell-actions {
		position: relative;

		.wp-table-actions-dropdown {
			background-color: #6d6d6d;
			border-radius: 0 0 3px 3px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
			color: #fff;
			cursor: initial;
			opacity: 0;
			padding: 10px;
			position: absolute;
			right: 0;
			top: 100%;
			transition: opacity 0.1s ease-in;
			visibility: hidden;
			width: 100px;
			z-index: 1;

			.wp-table-action-item {
				cursor: pointer;
			}
		}

		&:hover {
			.wp-table-edit-cell {
				background-color: #6d6d6d;
				color: #fff;
			}

			.wp-table-actions-dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.wp-table-modal {
		background-color: #fff;
		bottom: 0;
		left: 0;
		overflow: hidden;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 99999;

		.wp-table-cell-editor-button-groups {
			border-bottom: 1px solid #ddd;
			padding: 25px;
			text-align: right;
		}

		.block-editor {
			position: relative;

			.block-editor-block-card {
				padding: 16px;
			}

			.components-select-control__input {
				border-color: #7e8993;
				border-radius: 3px;
				box-shadow: none;
				color: #32373c;
				font-size: 14px;
				line-height: 2;
				padding: 0 24px 0 8px;
			}
		}
	}
}
