.wp-table {
	table {
		border-collapse: collapse;
		margin: 2.5em 0;
		width: 100%;

		.wp-table-cell-wrapper {
			display: flex;
			justify-content: space-between;
		}

		.wp-edit-cell {
			opacity: 0;
			visibility: hidden;
			cursor: pointer;
		}

		td {
			border: 1px solid;
			cursor: grab;
			padding: 5px;
			position: relative;

			&:hover {
				.wp-edit-cell {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
}
