.advanced-wp-table-wrapper {
	button {
		&:focus {
			box-shadow: none !important;
			outline-style: none !important;
		}
	}

	a {
		&:focus {
			box-shadow: none;
			outline-style: none;
		}
	}
}

.advanced-wp-table-notices {
	align-items: flex-end;
	bottom: 20px;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 20px;
	width: auto;
	z-index: 100000;
}

.advanced-wp-table-header {
	.advanced-wp-table-header-inner {
		align-items: center;
		display: flex;
		margin: 0 0 1em;

		&.margin-bottom-large {
			margin-bottom: 2em;
		}

		$height: 25px;

		h1 {
			margin: 0;
			padding: 0;
		}

		.button {
			align-items: center;
			border-radius: 2px;
			display: flex;
			font-weight: 600;
			height: $height;
			line-height: 1;
			margin: 0 0 0 10px;
			min-height: $height;

			.dashicons {
				margin-right: 5px;
			}
		}
	}
}

.advanced-wp-table-pagination-wrapper {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	justify-content: space-between;
}

.advanced-wp-table-total-info {
	font-weight: 500;
}

.advanced-wp-table-pagination {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;

	.advanced-wp-table-pagination-ellipsis {
		padding: 0 4px;
	}
}

.advanced-wp-table-list,
.advanced-wp-table-list-loading {
	margin: 1em 0;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0
	}
	100% {
		background-position: 468px 0
	}
}

.advanced-wp-table-liner-loading {
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f7f8;
	background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
	background-size: 1000px 104px;
	height: 16px;
	overflow: hidden;
	position: relative;

	&.title-loading {
		width: 100%;
	}

	&.actions-loading {
		margin: 8px 0 0;
		max-width: 150px;
		width: 100%;
	}

	&.shortcode-loading {
		max-width: 250px;
		width: 100%;
	}
}

.advanced-wp-table-list-loading {
	tbody {
		tr {
			&:nth-child(3n+1) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 250px;
					}
				}
			}

			&:nth-child(3n+2) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 280px;
					}
				}
			}

			&:nth-child(3n+3) {
				.advanced-wp-table-liner-loading {
					&.title-loading {
						max-width: 220px;
					}
				}
			}
		}
	}
}

.advanced-wp-table-new-table-form {
	background-color: #fff;
	margin: 2.5em 0;
	max-width: 500px;
	padding: 2.5em;
	position: relative;
	width: 100%;

	label {
		font-size: 14px;
		font-weight: bold;
	}

	.advanced-wp-table-form-item {
		align-items: center;
		display: flex;
		margin: 0 0 1em;

		label {
			flex: 1;
		}

		.advanced-wp-table-form-input-wrapper {
			flex: 1.2;
		}

		input {
			&[type=number] {
				width: 60px;
			}
		}
	}

	.advanced-wp-table-form-buttons {
		margin: 1.5em 0 0;
	}
}

.advanced-wp-table-new-table-form {
	&.loading {
		&:before {
			background: rgba(255, 255, 255, .9);
			content: '';
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 100;
		}

		&:after {
			-webkit-animation: advanced-wp-table-spin .6s linear;
			animation: advanced-wp-table-spin .6s linear;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			border-color: #767676 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .1);
			border-radius: 500rem;
			border-style: solid;
			border-width: .2em;
			-webkit-box-shadow: 0 0 0 1px transparent;
			box-shadow: 0 0 0 1px transparent;
			content: '';
			height: 3em;
			left: 50%;
			margin: -1.5em 0 0 -1.5em;
			position: absolute;
			top: 50%;
			visibility: visible;
			width: 3em;
			z-index: 101;
		}
	}
}

@keyframes advanced-wp-table-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.advanced-wp-table-post-item {
	background-color: #fff;
	border-collapse: collapse;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	margin: 1em 0;
	width: 100%;

	td {
		border: 1px solid;
		padding: 5px;
		position: relative;
		vertical-align: top;
	}

	th {
		border: 1px solid;
		padding: 5px;
		text-align: initial;
	}

	td,
	th {
		border-color: #ccd0d4;
	}

	.advanced-wp-table-cell-wrapper {
		align-items: self-start;
		display: flex;
		justify-content: space-between;
	}

	.advanced-wp-table-edit-cell {
		border-radius: 3px 3px 0 0;
		cursor: pointer;
		font-size: 16px;
		line-height: 20px;
		opacity: 0;
		position: relative;
		transition: background-color 0.1s ease-in;
		visibility: hidden;
		z-index: 2;
	}

	td {
		&:hover {
			.advanced-wp-table-edit-cell {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.advanced-wp-table-cell-actions {
		position: relative;

		.advanced-wp-table-actions-dropdown {
			background-color: #6d6d6d;
			border-radius: 0 0 3px 3px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
			color: #fff;
			cursor: initial;
			opacity: 0;
			padding: 10px;
			position: absolute;
			right: 0;
			top: 100%;
			transition: opacity 0.1s ease-in;
			visibility: hidden;
			width: 115px;
			z-index: 1;

			.advanced-wp-table-action-item {
				cursor: pointer;
			}
		}

		&:hover {
			.advanced-wp-table-edit-cell {
				background-color: #6d6d6d;
				color: #fff;
			}

			.advanced-wp-table-actions-dropdown {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.advanced-wp-table-post-item-buttons {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
}

